# macOS
.DS_Store
.vscode/

# Python
__pycache__/
.pytest_cache/

# rich
emoji.txt

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.pdf
*.synctex(busy)
tmp-ly/

# Test files
tests/draftrc
tests/common/test_live_loading.tex
.draftrc
intervals-1.ly
intervals-2.ly
test.tex
exercise.ly
